@import './node_modules/graphiql/graphiql';

html {
	font-family: BentonSans, sans-serif;
	overflow-x: hidden;
	overflow-y: visible;
	height: auto;
	min-height: 100%;
	width: auto;
}

#graphiql {
	width: 100%;
	height: 800px;
}

.api-key {
	display: none;
}
