<!DOCTYPE html>
<html class="o-hoverable-on o-techdocs o-hoverable-on">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>Next GraphQL API</title>
	<link rel="stylesheet" href="//build.origami.ft.com/bundles/css?modules=o-techdocs@^4.1.1,o-fonts@^1.6.4" />
	<link rel="stylesheet" href="{{#hashedAsset}}main.css{{/hashedAsset}}" />
	<style>body { margin: 0; } .demo-js .o--if-nojs { display: none; }</style>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noindex, nofollow"/>
</head>
<body>
	<header data-o-component="o-header" class="o-header">
		<div class="o-header__container">
			<div class="o-header__inner">
				<div class="o-header__primary">
					<div class="o-header__primary__left">
						<div class="o-header__logo o-header__logo--ft">
							<a href="http://www.ft.com">
								<abbr title="Financial Times">FT</abbr>
							</a>
							<a href="http://ftalphaville.ft.com/">
								<h1 class="o-header__title">Next GraphQL API</h1>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div class="o-techdocs-layout">
		<section class="o-techdocs-main">
			<section class="o-techdocs-content">
				{{{body}}}
			</section>
		</section>
	</div>
	<script src="//build.origami.ft.com/bundles/js?modules=o-techdocs@^3.2.2,ftdomdelegate@^2.0.3,fastclick@^1.0.3"></script>
	<script src="https://cdn.polyfill.io/v1/polyfill.min.js"></script>
	<script src="{{#hashedAsset}}main.js{{/hashedAsset}}"></script>
</body>
</html>
