<div class="o-techdocs-main">
	<h1>
		Next FT GraphQL API
	</h1>

	<h2>Introduction</h2>
	<p>
		This is a <a href="http://facebook.github.io/graphql/">GraphQL</a> API endpoint
		for the presentation layer of the Next FT application. It simplifies fetching content
		from multiple sources (e.g. articles tagged with a certain topic + total page views on
		those articles) and traversing links between pieces of content
		(e.g. page with top story IDs -> stories -> stories in the story package,
		or article -> topics -> latest articles with those topics). Such traversal queries
		can be done in a single request using GraphQL (they will get translated to multiple
		backend requests by the GraphQL server).
	</p>
	<p>
		Because the possible queries are described by a <a href="/schema">schema</a> and the schema is defined
		in terms of types, extending types with new attributes immediately benefits all places
		in the schema where a given type is used. For instance, adding the ability to find
		related articles from story package to use on the Homepage means any query surfacing
		an article automatically gets the ability to display related articles as well,
		if it so desires.
	</p>
	<p>
		GraphQL doesn't dictate any particular storage backend or data fetching mechanism,
		it is simply used to orchestrate the dispatch of fetching requests for each piece of
		data requested by a given query. It is therefore ideal for aggregating multiple APIs
		and storage backends and sharing the high level, user-facing business logic that
		doesn't fit the individual backends, e.g. combining content and its popularity/usage or
		shared product-level rules, such as the most relevant articles for a given article or
		even surfacing the parsed body of articles as a queryable data object to let clients
		pull out specific content components from an article body.
	</p>

	<h2>Using Next GraphQL API</h2>
	<p>
		You will need a GraphQL API token from the config-vars. Once you have it, you can
		explore the available GraphQL schema in the <a href="/playground">playground</a>,
		which uses GraphQL's introspection capabilities to suggest possible queries.
	</p>
	<p>
		For an example of running a query, see the <a href="http://github.com/Financial-Times/next-front-page">next-front-page</a>
		- it's a simple HTTP POST request returning a JSON of the same shape of the query.
	</p>

	<h2>Status monitoring</h2>
	<p>
		TODO: elaborate on this.
	</p>
</div>
